header{
    background: #430026;
    padding: 2px 2px;
    height: 100px;
}

body{
    background: #430026;
    padding: 2px 0;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

#Logo{
    width: 85px;
    margin: 5px 640px;
    padding: 1px;
}

.caixa{
    position: relative;
    width: 1100px;
    margin: 0px 2px;
    display:inline-block;
}

nav{
    position: absolute;
    top: 20px;
    right: -300px;
}

nav li{
    display:inline-block;
    margin: 10px;
    padding: 10px;
    border: 5px solid #430026;
    border-radius: 8px;
    background-color: rgb(240, 52, 140);
    box-shadow: 7px 7px 7px #430026;
}

nav a{
    font-family:'Courier New', Courier, monospace;
    color: #430026;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav li:hover, nav a:hover{
    color: #430026;
    font-size: 20px;
}

nav li:active{
    border-color:rgb(240, 52, 140);

}

nav a:active{
    color:rgb(240, 52, 140);
}

h2{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 5px 1px 1px 600px;
}

p{
    color: white;
    font-size: 22px;
    margin: 4px 20px;
}

#biotipo{
    background-color:rgb(236, 123, 176);
    margin: 15px 1px 1px 1px;
    display: inline-block;
}

#atributos{
    width: 1030px;
    margin: 2px 5px 2px 35px;
}

#boneco{
    width: 260px;
    margin: 2px 2px 2px 4px;
}

footer{
    background: #430026;
    padding: 1px 0;
    margin: 2px 2px;
}

#Univille{
    position: relative;
    width: 4%;
    margin: 1px 650px;
}